@model AlmacenRopa.Models.ROLE_USER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROLE_USER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_ROLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION_ROLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ROLE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
