<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/CustomScript.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="row">

        <div class="col tamaño slide s2">
            <ul id="slide-out " class="sidenav slideStyle sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img class="imagen" src="~/Img/Logofashion.jpg" />
                        </div>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>

        </div>
        <div class="col tamaño2 slide2 s10">

            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">
                        <i class="material-icons">shopping_cart</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
            </nav>
            <div class="container body-content">
                @RenderBody()



            </div>

            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Footer Content</h5>
                            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                          
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2014 Copyright Text
                        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>
</html>
