@{
    var usuarioLogado = Context.User.Identity.IsAuthenticated;
    var usuarioSesion = Context.Session["usuario"];
    var rolSesion = Context.Session["rol"];
    var userId = Context.Session["id"];

    var nombreUsuario = string.Empty;
    var nombreRol = string.Empty;

    if (usuarioSesion != null)
    {
        nombreUsuario = usuarioSesion.ToString();
        nombreRol = rolSesion.ToString();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/CustomScript.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="row">

        <div class="col tamaño slide s2">
            <ul id="slide-out " class="sidenav slideStyle sidenav-fixed">
                <li>
                    <div>
                        <div class="background">
                            <img class="imagen" src="~/Img/Logofashion.jpg" />
                        </div>
                    </div>
                </li>

                @if (usuarioLogado)
                {
                    <li><a>@Html.ActionLink("Cerrar Sesion", "LogOut", "Home")</a></li>


                    if (nombreRol.Equals("Administrador"))
                    {
                        <li>@Html.ActionLink("Productos", "Index", "Product")</li>
                        <li>@Html.ActionLink("Proveedores", "Index", "Provider")</li>
                        <li>@Html.ActionLink("Roles de Usuario", "Index", "RoleUser")</li>
                        <li>@Html.ActionLink("Ventas", "Index", "Sale")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "User")</li>
                    }
                    else if (nombreRol.Equals("Vendedor"))
                    {
                        <li>@Html.ActionLink("Productos", "Index", "Product")</li>
                        <li>@Html.ActionLink("Proveedores", "Index", "Provider")</li>
                        <li>@Html.ActionLink("Ventas", "Index", "Sale")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "User")</li>
                    }
                    else if (nombreRol.Equals("Cliente"))
                    {
                        <li>@Html.ActionLink("Productos", "Index", "Product")</li>
                        <li>@Html.ActionLink("Compras", "Index", "Sale")</li>

                    }


                }
                else
                {
                    <li><a class=" modal-trigger" href="#modal1">Iniciar Sesion</a></li>
                    <li>@Html.ActionLink("Ver Productos", "Index", "Product")</li>
                    <li>@Html.ActionLink("Crear cuenta", "Create", "User")</li>

                }

            </ul>

        </div>
        <div class="col tamaño2 slide2 s10">

            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">
                        <i class="material-icons">shopping_cart</i>
                            @if (usuarioLogado)
                            {
                                <i>
                                    Bienvenido @nombreUsuario a nuestro sistema de ventas
                                </i>
                            }
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
            </nav>
            <div class="container body-content">

                @RenderBody()
                @Html.Partial("_IniciarSesionPartial")

            </div>

            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Footer Content</h5>
                            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        <p>&copy; CLOTHING STORE | @DateTime.Now.Year</p>
                        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
