@model IEnumerable<AlmacenRopa.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Codigo del Producto
        </th>
        <th>
            Foto
        </th>
        <th>
           Nombre del Producto
        </th>
        <th>
            Cantidad en Stock
        </th>
        <th>
            Precio Unidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODE_PRODUCT)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.PHOTO)*@
            <img width="100" src="@Url.Action("getImage", "Product", new { id = item.CODE_PRODUCT })" />
            @Html.ValidationMessageFor(modelItem => item.PHOTO, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME_PRODUCT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE_PRODUCT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRODUCT }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRODUCT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRODUCT })
        </td>
    </tr>
}

</table>
