@model AlmacenRopa.Models.SALE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SALE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USER_CLIENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_CLIENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_SALLER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_SALLER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_SALE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_SALE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.CODE_PRODUCT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.CODE_PRODUCT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SALE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
